
@{
    ViewBag.Title = "ChangeFrequency";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <input type="button" value="Back" onclick="location.href='@Url.Action("Main","Home")'" />
    </div>
    <div class="row">
        <p>You have successfully requested a change of frequency.</p>
    </div>
</div>


<h2>ChangeFrequency</h2>

