
@{
    ViewBag.Title = "NewMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <p>Message Sent!</p>
    </div>
    <div class="row">
        <input type="button" value="Back" onclick="location.href='@Url.Action("Main","Home")'" />
    </div>
</div>

<h2>NewMessage</h2>

