body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

span:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.one:before {
    background: red;
}

.two:before {
    background: yellow;
}

.three:before {
    background: green;
}

.contact-nav {
    font-size: 13px;
    color: #7c8591;
}

.flex-right {
    margin-left: auto;
}

.flex-container {
    display: flex;
    align-items: center;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.headerbar {
    background-color: #eeeeee;
}

#headerimg {
    height: 100px;
    margin-top: -7px;
}

.h2 {
    color: #0d325f;
}

h4 {
    color: #0d325f;
    text-align: center;
}

.login-container {
    display: inline-block;
    background-color: rgba(41, 115, 204, 0.43);
    border-radius: 10px;
    padding: 35px !important;
}

.info tr td:nth-child(2) {
    padding-left: 20px;
}

.text-centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 115px;
}

#firstService {
    background-color: #52c9ff;
    border-radius: 50%;
    color: #ffffff;
}

#calendar-dates > table > tr > td {
    padding: 5px;
}

.buttonImage {
    width: 25px;
    height: 25px;
}

.btnicon {
    max-height: 100px;
}

.section {
    background-color: #eeeeee;
    /*border-style: solid;
    border-width: thin;*/
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.selector:hover {
    filter: invert(100%);
    background-color: blue;
}

.image-checkbox {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid transparent;
    outline: 0;
}

    .image-checkbox input[type="checkbox"] {
        display: none;
    }

.image-checkbox-checked {
    filter: invert(100%);
    background: #dccaa1;
    border-radius: 100%;
}

.content-section{
    border:solid;
    border-radius:5px;
    border-width:thin;
    padding:20px;
    margin: 10px;
}

